<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/1.png" alt="Jan Kowalski">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Jan Kowalski</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/2.png" alt="Anna Nowak">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Anna Nowak</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/3.png" alt="Adam Ogon">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Adam Ogon</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/4.png" alt="Dominik Bat">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Dominik Bat</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/5.png" alt="Kamil Pat">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Kamil Pat</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/6.png" alt="Marzena Nowa">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Marzena Nowa</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article class="describeDoctors">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="img-responsive imgDoctors">
                            <img src="img/doctors/7.png" alt="Maria Dawidowicz">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <div class="description">
                            <b>Maria Dawidowicz</b> - Absolwent Warszawskiej Akademii Medycznej. Pediatra z wieloletnim doświadczeniem w prowadzeniu podstawowej opieki nad dziećmi w lecznictwie otwartym i zamkniętym oraz pomocy doraźnej.
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="col-md-2"></div>
</div>