@{
    ViewBag.Title = "Przychodnia-strona główna";
}

<div class="row slider">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <figure class="img-responsive">
            <div id="slider"></div>
        </figure>
    </div>
    <div class="col-md-2"></div>
</div>