
@{
    ViewBag.Title = "Onas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row slider">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6">
                <figure class="img-responsive imgSize">
                    <img src="~/img/onas.png" alt="O nas">
                </figure>
            </div>
            <div class="col-sm-6">
                <div class="aboutUs">
                    <b>
                    Świadczymy usługi podstawowej opieki zdrowotnej w zakresie kompetencji lekarza rodzinnego, pielęgniarki środowiskowo-rodzinnej oraz położnej środowiskowej.

                    Jesteśmy jedną z pierwszych przychodni w województwie podlaskim, które w roku 1999 rozpoczęły pracę na podstawie umów kontraktowych z Podlaską Regionalną Kasą Chorych.

                    Współpracujemy z pracowniami diagnostycznymi analitycznymi, radiologicznymi oraz gabinetami USG.

                    Uczestniczymy w kształceniu studentów i stażystów medycyny, a także rezydentów uzyskujących specjalizację w dziedzinie medycyny rodzinnej. Opieką obejmujemy dzieci, młodzież, dorosłych, osoby niepełnosprawne.

                    Zapraszamy.
                    </b>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
    </div>